<header>
  <section class="img_background w-full h-[30rem] bg-cover bg-center" style="background-image: url('/image/wallpaperflare.com_wallpaper.jpg');"></section>
  <section class="container mx-auto px-4">
    <div class="rounded-xl bg-color_bg -mt-28 box_shadow flex md:flex-row flex-col items-center child:w-full py-4">
      <div class="flex flex-col border-r border-black p-4">
        <div class="flex md:flex-row flex-col items-center justify-center gap-4">
          <div class="">
            <div class="rounded-lg border-4 border-zinc-700 overflow-hidden w-[190px] h-[190px] mb-8 -mt-12 transform transition-transform duration-300 hover:scale-105">
              <img class="w-full h-full object-cover" src="/image/new-profile.png" alt="Profile picture of Esfandiar Jahangiri">
            </div>
          </div>
          <div class="text-white flex flex-col items-center justify-center gap-3">
            <h2 class="font-bold text-2xl hover:text-gray-300 transition-colors duration-300">ESFANDIAR JAHANGIRI</h2>
            <p class="hover:text-gray-300 transition-colors duration-300">I am an astronomer</p>
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-2 grid-cols-1 gap-12 pl-8">
        <div class="text-white">
          <p class="text-zinc-500 text-sm">Email Address</p>
          <p class="text-lg hover:text-gray-300 transition-colors duration-300">esfandiarjahangiri&#64;gmail.com</p>
        </div>
        <div class="text-white">
          <p class="text-zinc-500 text-sm">Phone</p>
          <p class="text-lg hover:text-gray-300 transition-colors duration-300">+989137534629</p>
        </div>
        <div class="text-white">
          <div class="flex items-center justify-center gap-5 py-10 md:py-0">
            <a href="https://www.linkedin.com/in/esfandiar-jahangiri-032853ba/"
              class="w-14 h-14 text-white rounded-md box_shadow2 bg-gradient-to-br from-color_bg to-gray-800 hover:to-color_bg hover:from-gray-800 hover:translate-y-[-5px] transition-all duration-300 ease-in-out flex items-center justify-center">
              <svg class="w-8 h-8">
                <use href="#in"></use>
              </svg>
            </a>
            <a href="https://www.instagram.com/esfandiarjahangiri/"
              class="w-14 h-14 text-white rounded-md box_shadow2 bg-gradient-to-br from-color_bg to-gray-800 hover:to-color_bg hover:from-gray-800 hover:translate-y-[-5px] transition-all duration-300 ease-in-out flex items-center justify-center">
              <svg class="w-8 h-8">
                <use href="#insta"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
