<!-- cv -->
<div class="">
    <h1 class="text-4xl mb-5 font-bold">Curriculum Vitae</h1>
    <div class="flex items-center justify-center flex-col gap-4 child:w-[90%] mb-14">
      <img src="./image/1.png" alt="">
      <img src="./image/2.png" alt="">
    </div>
    <a href="/Esfandiar_CV.pdf"
      class="p-5  text-red-600 rounded-md box_shadow2 bg-gradient-to-br from-color_bg to-gray-800 hover:to-color_bg hover:from-gray-800  transition-all duration-300 ease-in-out ">Download
      PDF</a>

  </div>