<!-- video -->
<div class="">
    <h1 class="text-4xl mb-5 font-bold">International Presentations</h1>
    <div class="grid grid-cols-1 gap-6 mt-12 child:w-full child:h-full">
      <div class="bg-color_bg rounded-lg p-6 box_shadow2 text-center">
        <video class="w-full py-4 object-cover overflow-hidden" controls>
          <source src="/image/4_5793916942502861128.mp4" type="video/mp4" />
          Your browser does not support video.
        </video>
        <p class="text-lg font-bold text-zinc-300">My presentation at the Fourteenth Moscow Solar System Symposium
          (2023) on “Ephemeris Updates for Seven Selected HATNet Survey Transiting Exoplanets.”</p>

      </div>
      <div class="bg-color_bg rounded-lg p-6 box_shadow2 text-center">
        <video class="w-full py-4 object-cover overflow-hidden" controls>
          <source src="/image/4_5796619705292690732.mp4" type="video/mp4" />
          Your browser does not support video.
        </video>
        <p class="text-lg font-bold text-zinc-300">My presentation at the International Meeting in China (2024) on
          Eclipsing Binary Star Systems.</p>

      </div>

    </div>

  </div>